<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.umc.ttoklip">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />

    <queries>
        <package android:name="com.google.android.gm"/>
    </queries>

    <application
        android:name=".TtoklipApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ttoklip"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true"
        android:requestLegacyExternalStorage="true">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="a6zjlu88zi" />

        <activity
            android:name=".presentation.mypage.manageinfo.ManageMyInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.honeytip.read.ReadHoneyTipActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity

            android:name=".presentation.honeytip.write.WriteHoneyTipActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".presentation.alarm.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.news.detail.ArticleActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.SetAnnouncementActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.ManageUsageActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.manageinfo.MyHometownAddressActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.ManageAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.NoticeSettingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.CustomerServiceCenterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.TermsPolicesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity android:name=".presentation.mypage.TermsPolicesDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".presentation.mypage.TransactionHistoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.SavedHoneyTipActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.mypage.MyHoneyTipActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.intro.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.hometown.together.TogetherActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.hometown.communication.CommunicationActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.hometown.together.write.WriteTogetherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".presentation.hometown.communication.write.WriteCommunicationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".presentation.hometown.communication.read.ReadCommunicationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" />

        <activity
            android:name=".presentation.otheruser.OtherUserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".presentation.otheruser.OtherTipActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".presentation.hometown.together.read.ReadTogetherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity android:name=".presentation.signup.location.LocationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".presentation.signup.location.DirectLocationActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".presentation.mypage.manageinfo.MyInfoLocationActivity"/>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${kakaoNativeKey}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.intro.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".presentation.MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>


        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>

        <activity
            android:name=".presentation.search.SearchActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.search2.SearchActivity2"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name="com.umc.ttoklip.presentation.honeytip.read.ReadImageViewActivity" />

        <activity
            android:name=".presentation.news.detail.PostImageActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name=".presentation.honeytip.read.ReadQuestionActivity" />
        <activity android:name=".presentation.honeytip.write.WriteImageViewActivity" />

        <service
            android:name=".util.TtoklipFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>